#cb {
  display: none;
}
.outerkx {
  display:block;
  height: 100px;
  width: 100px;
  margin:auto;
  position:relative;
  cursor:pointer;
}
.line {
  position: absolute;
  width: 58px;
  height:5px;
  background-color:black;
  top:50%;
  left: 50%;
  transform-origin: 0% 50%;
  transition: all 0.8s ease-in-out;
}
.kxa {
  transform: translate(-10px,-50%) rotate(50deg);
}
.kxb {transform: translate(-10px,-50%) rotate(-50deg);}
.kxc {transform: translate(-10px,-50%) rotate(90deg) scaleX(0.8);}
.kxd {transform: translate(-10px,-50%) rotate(-90deg) scaleX(0.8);}
#cb:checked+.outerkx>.kxa {transform: translate(0px,-50%) rotate(405deg);}
#cb:checked+.outerkx>.kxb {transform: translate(0px,-50%) rotate(315deg);}
#cb:checked+.outerkx>.kxc {transform: translate(0px,-50%) rotate(495deg) scaleX(1);}
#cb:checked+.outerkx>.kxd {transform: translate(0px,-50%) rotate(225deg) scaleX(1);}


#table {
  perspective: 1000px; 
  perspective-origin: 50% 50px;
  margin: auto auto;
  width: 700px;
  height: 700px;
    align-content: left;
}

#board {
  transform: rotateX(50deg);
  background-color: #dd4b39;
  width: 700px;
  height: 500px;
  padding: 10px;
    margin-top: 1px;
}

.card-container {
  font-family: Arial;
  text-align: center;
  border: 1px solid;
  display: inline-block;
  margin: 4px;
  position: relative;
}

.card-container, .front, .back {
  width: 60px;
  height: 70px;
}
.card {
  transition: 2s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: 100% 40px;
}

.front, .back {
  position: absolute;
  top: 0;
  bottom: 0;
  backface-visibility: hidden;
}

.front {
  background-color: White;
}

.back {
  background-color: #3b5998;
  transform: rotateX(180deg);
}

.card-container .card:not(.flipped) {
  transform: rotateX(-30deg);
}

.card-container .card.flipped {
  transform: rotateX(-180deg);
}